@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 1rem;
  background-color: #5c2dd5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0;
  position: relative;
}

.main-menu-tab {
  background-color: #7945ff;
  width: 430px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 0 2px black, 0 10px 0 2px black;
}
.main-menu-tab,
.rules-section {
  margin-top: 50px;
}

.menu-logo {
  padding-block: 3.5rem;
  cursor: pointer;
  text-align: center;
}

.menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-inline: 30px;
}

.menu-btn {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 2px black, 0 5px 0 2px black;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
#comp-btn {
  background-color: #fd6687;
}
#player-btn {
  background-color: #ffce67;
}
.icon {
  width: 40px;
  height: 40px;
}

#cpu-btn {
  background-color: #fd6687;
}

#pvp-btn {
  background-color: #ffce67;
}

/** Games rules css**/
.rules-section {
  position: relative;
}

.game-rules-tab {
  background-color: white;
  padding-inline: 30px;
  padding-block: 40px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 0 2px black, 0 7px 0 2px black;
}

.rules-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.rules-text-header {
  margin-block: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #7945ff;
}

.how-to-play-text-container {
  margin-inline: 20px;
}

.close-rules-btn {
  position: absolute;
  bottom: -30px;
  right: 50%;
  cursor: pointer;
}

.icon-check {
  height: 50px;
  width: 50px;
}

.tab {
  transition: transform 1.4s ease;
  position: absolute;
  top: 50%;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

/* Ingame menu css */
#ingame-section {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.ingame-menu-tab {
  width: 400px;
  height: 370px;
  background: #7945ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 0 2px black, 0 10px 0 2px black;
  border-radius: 20px;
}

.ingame-menu-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  margin-top: 25px;
  font-weight: 500;
}

.ingame-menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-inline: 30px;
  margin-bottom: 40px;
}

.ingame-menu-btn {
  padding-block: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 15px;
  border: none;
  font-size: 0.875rem;
  box-shadow: 0 0 0 2px black, 0 7px 0 2px black;
  cursor: pointer;
}

#resume-btn,
#restart-btn {
  background-color: #fff;
}

#quit-btn {
  background-color: #fd6687;
  color: #fff;
}

.box-shadow-black {
  box-shadow: 0 0 0 2px black, 0 7px 0 2px black;
}

/* Player Board CSS */
#game-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7945ff;
  padding-top: 40px;
  height: 550px;
}

.game-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 40px;
}
.game-info-menu {
  cursor: pointer;
}
.game-info-btn {
  background-color: #5c2dd5;
  padding: 5px 20px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
}
.game-info-logo img {
  width: 50px;
  height: 50px;
}

.game-info-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.player-box {
  background-color: #fff;
  height: 100px;
  position: relative;
  width: 100px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  border-radius: 15px;
}
.player-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.player-name {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.player-score {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.player-board-container {
  width: 100%;
  max-width: 370px;
  position: relative;
  height: auto;
  aspect-ratio: 1 / 1;
}

.board-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.board-base {
  z-index: 1;
}

.board-overlay {
  z-index: 2;
}

#player-indicator {
  position: absolute;
  top: -30px;
  left: 15px;
  transition: left 0.2s ease;
}
#player-indicator img {
  width: 25px;
  height: 25px;
}
#pieces-container {
  position: absolute;
  top: 0;
  left: 0;
}
.piece {
  transition: top 0.4s ease-out;
}
.click-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% / 7);
  cursor: pointer;
}
.click-zone[data-col="0"] {
  left: 0%;
}
.click-zone[data-col="1"] {
  left: 14.28%;
}
.click-zone[data-col="2"] {
  left: 28.56%;
}
.click-zone[data-col="3"] {
  left: 42.84%;
}
.click-zone[data-col="4"] {
  left: 57.12%;
}
.click-zone[data-col="5"] {
  left: 71.4%;
}
.click-zone[data-col="6"] {
  left: 85.68%;
}
.game-board-footer {
  width: 100%;
  padding-bottom: 30px;
  background-color: #5c2dd5;
  position: relative;
  top: -50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.turn-background-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.turn-background-container img {
  width: 130px;
  z-index: 2;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 3;
}
.player-turn-text {
  font-size: 0.75rem;
}

.play-timer {
  font-size: 2rem;
  font-weight: 600;
}
