@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 1rem;
  background-color: #5c2dd5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 100px;
  position: relative;
}

.main-menu-tab {
  background-color: #7945ff;
  width: 430px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 0 2px black, 0 10px 0 2px black;
}

.menu-logo {
  padding-block: 3.5rem;
  cursor: pointer;
  text-align: center;
}

.menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-inline: 30px;
}

.menu-btn {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 2px black, 0 5px 0 2px black;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
#comp-btn {
  background-color: #fd6687;
}
#player-btn {
  background-color: #ffce67;
}
.icon {
  width: 40px;
  height: 40px;
}

.comp-btn {
  background-color: #fd6687;
}

.player-btn {
  background-color: #ffce67;
}

/** Games rules css**/
.rules-section {
  position: relative;
}

.game-rules-tab {
  background-color: white;
  padding-inline: 30px;
  padding-block: 40px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 0 2px black, 0 7px 0 2px black;
}

.rules-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.rules-text-header {
  margin-block: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #7945ff;
}

.how-to-play-text-container {
  margin-inline: 20px;
}

.close-rules-btn {
  position: absolute;
  bottom: -30px;
  right: 50%;
  cursor: pointer;
}

.icon-check {
  height: 50px;
  width: 50px;
}

.tab {
  transition: transform 1.4s ease;
  position: absolute;
  top: 50%;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

/* Ingame menu css */
#ingame-section {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.ingame-menu-tab {
  width: 400px;
  height: 370px;
  background: #7945ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 0 2px black, 0 10px 0 2px black;
  border-radius: 20px;
}

.ingame-menu-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  margin-top: 25px;
  font-weight: 500;
}

.ingame-menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-inline: 30px;
  margin-bottom: 40px;
}

.ingame-menu-btn {
  padding-block: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 15px;
  border: none;
  font-size: 0.875rem;
  box-shadow: 0 0 0 2px black, 0 7px 0 2px black;
}

#resume-btn,
#restart-btn {
  background-color: #fff;
}

#quit-btn {
  background-color: #fd6687;
  color: #fff;
}

.play {
  display: none;
}

/* Player Board CSS */
#game-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-icon {
  width: 30px;
  height: 30px;
}

.game-info-player {
  width: 100%;
  height: 100%;
  display: flex;
}

.player-board-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  height: auto;
  aspect-ratio: 1 / 1;
}
.board-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.board-base {
  z-index: 1;
}

.board-overlay {
  z-index: 2;
}
